/*
 * Droid Arabic Kufi (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/kufi/DroidKufi-Regular.eot);
  src: url(../fonts/kufi/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/kufi/DroidKufi-Regular.woff2) format('woff2'),
       url(../fonts/kufi/DroidKufi-Regular.woff) format('woff'),
       url(../fonts/kufi/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/kufi/DroidKufi-Bold.eot);
  src: url(../fonts/kufi/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/kufi/DroidKufi-Bold.woff2) format('woff2'),
       url(../fonts/kufi/DroidKufi-Bold.woff) format('woff'),
       url(../fonts/kufi/DroidKufi-Bold.ttf) format('truetype');
}

h1{font-size: 25px;}h2{font-size: 24px;}h3{font-size: 22px;}
h4{font-size: 20px;}h5{font-size: 18px;}h6{font-size: 16px;}
p{font-size: 14px;}
a{font-size: 14px;text-decoration: none;}
body{
 color: #000;
 font-family: 'Droid Arabic Kufi', serif; 
 overflow-x: hidden;
}
.no-padding{
	/*padding: 0px;*/
}

.form .form-content .box{
	border:2px solid #222;
	padding: 15px;
	margin-bottom: 20px;
}

.form .form-content .right-title {
    background-color: #eee;
    padding: 10px;
    text-align: center;
    transform: rotate(90deg);
    width: 658px;
    position: absolute;
        top: 299px;
    right: -298px;
}
.form .form-content .left-title {
background-color: #eee;
    padding: 10px;
    text-align: center;
    transform: rotate(90deg);
    width: 658px;
    position: absolute;
    top: 299px;
    left: -298px;
}
.form .form-content label{
	margin-right: 3px;
	margin-left: 3px;
}
.form .center-details {
position: relative;
    right: 50px;
}

.form .form-content .right-title1 {
       background-color: #eee;
    padding: 10px;
    text-align: center;
    transform: rotate(90deg);
    width: 198px;
    position: absolute;
    top: 68px;
    right: -69px;
}
.form .form-content .left-title1 {
background-color: #eee;
    padding: 10px;
    text-align: center;
    transform: rotate(90deg);
    width: 198px;
    position: absolute;
    top: 68px;
    left: -69px;
}






